.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.flower__container {
  animation: dance 2s ease-in-out infinite alternate;
}

@keyframes dance {
  0% {
    transform: translateX(-30px) rotate(-5deg);
  }

  100% {
    transform: translateX(30px) rotate(5deg);
  }
}

.flower__head {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--color-light-bd);
  z-index: 3;
}

.flower__eyes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50% 50% 46% 54% / 75% 75% 25% 25%;
  background-color: var(--color-lighter);
  overflow: hidden;
  transform: translateY(-50px);
}

.inner__eye {
  width: 25px;
  height: 25px;
  background-color: #fff9c4;
  border-radius: 50%;
  transform: translate(0px, 0px);
}

.flower__mouth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #3e2723;
  z-index: 4;
}

.flower__petals {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  z-index: 1;
}

.outer__petal {
  position: absolute;
  background-color: #fad26c;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  transform-origin: center bottom;
  bottom: 0;
  z-index: 2;
}

.inner__petal {
  position: absolute;
  background-color: #fbe292;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  transform-origin: center bottom;
  bottom: 0;
  z-index: 1;
}

.inner__petal,
.outer__petal {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.15);
}

.flower__petals.inner__group {
  animation: clockwise 20s linear 1s infinite;
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inner__petal:nth-child(1) {
  transform: rotate(0deg) translateY(-50px);
}
.inner__petal:nth-child(2) {
  transform: rotate(30deg) translateY(-50px);
}
.inner__petal:nth-child(3) {
  transform: rotate(60deg) translateY(-50px);
}
.inner__petal:nth-child(4) {
  transform: rotate(90deg) translateY(-50px);
}
.inner__petal:nth-child(5) {
  transform: rotate(120deg) translateY(-50px);
}
.inner__petal:nth-child(6) {
  transform: rotate(150deg) translateY(-50px);
}
.inner__petal:nth-child(7) {
  transform: rotate(180deg) translateY(-50px);
}
.inner__petal:nth-child(8) {
  transform: rotate(210deg) translateY(-50px);
}
.inner__petal:nth-child(9) {
  transform: rotate(240deg) translateY(-50px);
}
.inner__petal:nth-child(10) {
  transform: rotate(270deg) translateY(-50px);
}
.inner__petal:nth-child(11) {
  transform: rotate(300deg) translateY(-50px);
}
.inner__petal:nth-child(12) {
  transform: rotate(330deg) translateY(-50px);
}

.outer__petal:nth-child(1) {
  transform: rotate(15deg) translateY(-50px);
}
.outer__petal:nth-child(2) {
  transform: rotate(45deg) translateY(-50px);
}
.outer__petal:nth-child(3) {
  transform: rotate(75deg) translateY(-50px);
}
.outer__petal:nth-child(4) {
  transform: rotate(105deg) translateY(-50px);
}
.outer__petal:nth-child(5) {
  transform: rotate(135deg) translateY(-50px);
}
.outer__petal:nth-child(6) {
  transform: rotate(165deg) translateY(-50px);
}
.outer__petal:nth-child(7) {
  transform: rotate(195deg) translateY(-50px);
}
.outer__petal:nth-child(8) {
  transform: rotate(225deg) translateY(-50px);
}
.outer__petal:nth-child(9) {
  transform: rotate(255deg) translateY(-50px);
}
.outer__petal:nth-child(10) {
  transform: rotate(285deg) translateY(-50px);
}
.outer__petal:nth-child(11) {
  transform: rotate(315deg) translateY(-50px);
}
.outer__petal:nth-child(12) {
  transform: rotate(345deg) translateY(-50px);
}

@media (max-width: 768px) {
  .intro {
    height: 45vh;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .flower__head {
    width: 250px;
    height: 250px;
  }
  .flower__eyes {
    width: 50px;
    height: 50px;
  }
  .inner__eye {
    width: 15px;
    height: 15px;
  }
  .flower__mouth {
    font-size: 8em;
  }
  .outer__petal {
    width: 50px;
    height: 150px;
    left: -25px;
  }

  .inner__petal {
    width: 50px;
    height: 150px;
    left: -25px;
  }
}

@media (min-width: 769px) {
  .intro {
    height: 700px;
  }
  .flower__head {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: var(--color-light-bd);
  }
  .flower__eyes {
    width: 80px;
    height: 80px;
  }
  .inner__eye {
    width: 25px;
    height: 25px;
  }
  .flower__mouth {
    font-size: 15rem;
  }
  .outer__petal {
    width: 100px;
    height: 300px;
    left: -50px;
  }

  .inner__petal {
    width: 100px;
    height: 300px;
    left: -50px;
  }
}
