.main__banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: float 3s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

.infor__text h1 {
  font-size: 1.3em;
  text-align: left;
  font-weight: bold;
  color: #daa520;
}

.infor__text p {
  font-size: 1em;
  color: #fef9e7;
  opacity: 0.8;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .main__banner {
    flex-direction: column;
    height: 65vh;
    gap: 10px;
    padding: 0 20px;
  }
  .info__delivery,
  .info__discount,
  .info__whatsApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #4e342e;
    overflow: hidden;
    min-width: 320px;
    min-height: 120px;
  }
  .info__logo img {
    width: 50px;
    height: 50px;
  }
  .infor__text h1 {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    color: #daa520;
  }

  .infor__text p {
    font-size: 0.6em;
    color: #fef9e7;
    text-align: center;
    opacity: 0.8;
  }
}

@media (min-width: 769px) {
  .main__banner {
    height: 30vh;
    gap: 20px;
    background-color: #4e342e;
  }
  .info__delivery,
  .info__discount,
  .info__whatsApp {
    display: flex;
    gap: 25px;
    padding: 0 3em;
  }

  .infor__text h1 {
    font-size: 1.3em;
    text-align: left;
    font-weight: bold;
    color: #daa520;
  }

  .infor__text p {
    font-size: 1em;
    color: #fef9e7;
    opacity: 0.8;
    margin-top: 10px;
  }
}
